@model Project.Models.Journal

@{
    Layout = "~/views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Journal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SymbolName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SymbolName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Journal1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Journal1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.JournalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
